* {
	margin: 0;
	padding: 0;
	outline: 0;
    border: 0;
    cursor: default;
	text-decoration: none;
}
body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
 }
#profile-picture {
    width: 10vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    border-radius: 50%;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}
#profile-name {
    color: #F8F8FF;
    font-family: Arial;
    margin: 0;
    padding: 25px 0;
}
.social-icons {
    width: 2vw;
    padding: 10px;
    transition: all .2s ease-in-out;
}
.social-icons:hover {
    transform: scale(1.5);
}
.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}
.footer,footer:visited {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    text-decoration: none; 
    decoration: none;
    background-color: black;
}
#friend{
      color: #F8F8FF;
}
.render {

    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 1rem;
    color: #bdc3c7;
    transition: all .2s ease-in-out;
}
.render:hover{
    transform: scale(1.2);
}
.runder {

    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 1rem;
    color: #bdc3c7;
    transition: all .2s ease-in-out;
}
.runder:hover{
    transform: scale(1.2);
}
.scroll-left {
    height: 25px;	
    overflow: hidden;
    position: relative;
    color: black;
}
.scroll-left p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    /* Animation */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    -moz-animation: scroll-left 15s linear infinite;
    -webkit-animation: scroll-left 15s linear infinite;
    animation: scroll-left 15s linear infinite;
}
/*>---Bug Fixes---<*/
@-moz-keyframes scroll-left {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
    0%   { 
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%); 		
}
100% { 
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); 
}
}
